# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
PackageCache/

# Logs
*.log

# Blender
*.blend1
*.blend1.meta

# IDEs
.vs/
.idea/
*.DotSettings.user

# Visual Studio / Rider files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity crash reports
sysinfo.txt
mono_crash.*

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Addressables
ServerData
[Aa]ssets/StreamingAssets/aa*
[Aa]ssets/AddressableAssetsData/link.xml*
[Aa]ssets/Addressables_Temp*
[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
[Aa]ssets/Unity.VisualScripting.Generated/

# Test Runner
[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*



.plastic/
.vscode/
ignore.conf
